@use '../abstracts' as *; 

.form{

    &-controll{
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        // width: 80%;
        margin-bottom: 3rem;
    }
    &-label{
        margin-bottom: .2rem;
    }

    &-input{
        height: 5.6rem;
        border: 1px solid $clr-grey-light-2;
        border-radius: 5px;
        padding: 1.8rem;
    }
    
    

    &-input:focus{
        border: 1px solid $clr-primary;
    }
}