@use "../abstracts" as *;

.langage {
  margin-right: $margin-default;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  position: relative;
  svg{
      margin-right: .5rem;
  }
}
.langages-container {
  position: absolute;
  width: 15rem;
  top: 25px;
  left: -17px;
  padding: 1rem;
  background: white;
  border: 1px solid #979797;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(#000000, 0.3);
  z-index: 1000;

  ul > * {
    padding: 1rem;
  }

  .triangle {
    position: absolute;
    top: -5px;
    left: 20px;
    width: 0.8rem;
    height: 0.5rem;
    background: #979797;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    .inside {
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 0px;
      left: 1px;
      background: white;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
  }
}
