@use "../abstracts" as *;

.footer {
  &-public {
    background: $clr-dashboard-light;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    color: white;
    font-size: 1.4rem;

    @include respond(sm) {
      flex-direction: column;
    }

    .footer-links {
      display: grid;
      grid-template-columns: repeat((3, minmax(min-content, 20rem)));

      @include respond(sm) {
        grid-template-columns: repeat(2, minmax(min-content, 15rem));
        margin-bottom: 1.5rem;
      }

      .links {
        display: flex;
        flex-direction: column;

        @include respond(sm) {
          &:last-child {
            display: none;
          }
        }

        & > *:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }
  }

  &-social {
    & > *:not(:last-child & :first-child) {
      margin-bottom: 2rem;
    }
    .logo {
      fill: white !important;
    }
    .follow-text {
      color: rgba($clr-white, 0.6);
    }
    
  }

  &-origin {
    height: 7rem;
    background: $clr-dashboard-dark;
  }

  &__copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0 2rem;
    color: $clr-white;
    p {
      font-size: 1.2rem;
    }
  }
}

.socials-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      color: rgba($clr-white, 0.6);
      .icon {
        width: 2.5rem;
        height: 2.5rem;
      }

      .icon--black{
        color: rgba($clr-black, 0.8);
      }

      
    }