@use "../abstracts" as *;

html {
  font-size: 62.5%;

  @include respond(lg) {
    font-size: 58%;
  }
  
  @include respond(md) {
    font-size: 50%;
  }

  @include respond(sm) {
    font-size: 40%;
  }

  @include respond(xl) {
    font-size: 75%;
  }
}

hr {
  background-color: $bg-hr;
  height: 1px;
  width: 100%;
}

/*
* Header-height: 7rem
* Footer-height: 24rem + 7rem
*/
.page-100{
  min-height: calc(100vh - 7rem - (24rem + 7rem));
}