.u-mb {
  margin-bottom: 2rem !important;
}
.u-mb-xl {
  margin-bottom: 3.5rem !important;
}
.u-mb-xxl {
  margin-bottom: 5rem !important;
}

.display-none {
  display: none !important;
}

.fade {
  opacity: 0.6;
}

.text-align {
  &--end {
    text-align: end;
  }
}

.position-relative {
  position: relative;
}



