//COLORS
$clr-primary: #0066FF;

$clr-secondary-tutor: #A942FF;
$clr-secondary-student: #00BA78;

$clr-dashboard-light:#273343;
$clr-dashboard-dark:#232E3C;
$clr-warnning: #F5B100;
$clr-alert: #FF0D1F;
$clr-switch:#D3E6E5;


$clr-grey-light:#f7f7f7; 
$clr-grey-light-1:#eee; 
$clr-grey-light-2: #A2B3BD;
$clr-grey-dark: #999;
$clr-grey-dark-2: #777;
$clr-grey-dark-3: #1C1C20;

$clr-black : #000;
$clr-white: #fff;

$clr-bg-light-1: #F8F8F8;
$clr-bg-light-2: #F8F4EF;



//FONT
$default-font-size: 1.6rem;


//HR 
$bg-hr: #E7E7E7;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal:6rem;

//MARGIN
$margin:(
    sm: 1rem,
    md: 2rem,
    lg: 2.5rem
);

$margin-default: 1.5rem;
//MEDIA QUEARY 
$breakpoints: (
    sm: 600px,
    md: 900px,
    lg: 1140px,
    xl: 1400px
);